<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="raptor.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="raptor.actions.RaptorSampleAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="raptor.actions.RaptorSampleAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="raptor.editors.MultiPageEditor"
            contributorClass="raptor.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="raptor.editors.MultiPageEditor"
            name="Sample Multi-page Editor">
      </editor>
      <editor
            class="raptor.editors.RaptorEditor"
            contributorClass="raptor.editors.RaptorEditorContributor"
            extensions="rap"
            icon="icons/sample.gif"
            id="raptor.editors.RaptorEditor"
            name="Raptor Multi-page Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.quickAssistProcessors">
   </extension>

</plugin>
